@charset "UTF-8";

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.4em;
    padding: 10px;
    margin: 10px;
}

menu {
    display: none;
}

p {
    text-align: justify;
    text-indent: 30px;
}

article::after {
    content: 'Artigo criado pelo curso em vídeo.';
}