@media screen and (min-width: 600px) and (max-width: 767px) {
    main .txt p {
        width: 70%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    header {
        height: 100px;
        justify-content: space-between;
    }

    header h1 {
        font-size: 3.2em;
    }

    nav {
        display: block;
        margin-right: 20px;
    }

    nav a {
        font-size: 1.3em;
    }

    main {
        margin-bottom: 20px;
    }

    main .img div {
        width: 280px;
        height: 280px;
    }

    main .txt p {
        width: 60%;
    }

    main .txt h1 {
        font-size: 2.5em;
    }

    main .txt h2 {
        font-size: 1.6em;
    }

    main .redes ul li i {
        font-size: 1.7em;
    }

    main .button button {
        font-size: 1.1em;
    }


}

@media screen and (min-width: 1024px) {
    header {
        height: 120px;
        justify-content: space-between;
    }

    header h1 {
        font-size: 3.5em;
    }

    nav {
        display: block;
    }

    header button {
        display: block;
    }

    main {
        width: 90%;
        margin: auto;
        margin-top: 100px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 50px;
    }

    main .img {
        grid-area: 1/1/2/2;
    }

    main .img div {
        width: 400px;
        height: 400px;
    }

    main .txt {
        grid-area: 1/2/2/4;
    }

    main .txt h1 {
        font-size: 2.8em;
    }

    main .txt h2 {
        font-size: 2em;
    }

    main .txt p {
        width: 80%;
        font-size: 1.4em;
    }

    main .redes {
        grid-area: 2/1/3/4;
    }

    main .redes ul li i {
        font-size: 2.2em;
    }

    main .button button {
        display: none;
    }
}